/* Animated Floating Dots Grid Background */
.dots-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
}

.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(232, 220, 200, 0.15);
    border-radius: 50%;
    animation: float 20s infinite ease-in-out;
}

.dot.large {
    width: 3px;
    height: 3px;
    background: rgba(232, 220, 200, 0.2);
}

.dot.small {
    width: 1px;
    height: 1px;
    background: rgba(232, 220, 200, 0.1);
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 0.5;
    }

    25% {
        transform: translate(20px, -20px) scale(1.1);
        opacity: 0.8;
    }

    50% {
        transform: translate(-15px, -40px) scale(0.9);
        opacity: 0.6;
    }

    75% {
        transform: translate(30px, -60px) scale(1.05);
        opacity: 0.7;
    }
}

/* Different animation speeds for variety */
.dot:nth-child(2n) {
    animation-duration: 25s;
}

.dot:nth-child(3n) {
    animation-duration: 18s;
}

.dot:nth-child(4n) {
    animation-duration: 22s;
}

.dot:nth-child(5n) {
    animation-delay: -5s;
}

.dot:nth-child(6n) {
    animation-delay: -10s;
}

.dot:nth-child(7n) {
    animation-delay: -15s;
}